writeup/ernst-msr.*
src/Lingua-TypoGenerator-0.01.tar.gz
src/Lingua-TypoGenerator-0.01/Changes
src/Lingua-TypoGenerator-0.01/MANIFEST
src/Lingua-TypoGenerator-0.01/META.yml
src/Lingua-TypoGenerator-0.01/Makefile
src/Lingua-TypoGenerator-0.01/Makefile.PL
src/Lingua-TypoGenerator-0.01/README
src/Lingua-TypoGenerator-0.01/blib/arch/.exists
src/Lingua-TypoGenerator-0.01/blib/arch/auto/Lingua/TypoGenerator/.exists
src/Lingua-TypoGenerator-0.01/blib/bin/.exists
src/Lingua-TypoGenerator-0.01/blib/lib/Lingua/.exists
src/Lingua-TypoGenerator-0.01/blib/lib/Lingua/TypoGenerator.pm
src/Lingua-TypoGenerator-0.01/blib/lib/auto/Lingua/TypoGenerator/.exists
src/Lingua-TypoGenerator-0.01/blib/man1/.exists
src/Lingua-TypoGenerator-0.01/blib/man3/.exists
src/Lingua-TypoGenerator-0.01/blib/man3/Lingua::TypoGenerator.3pm
src/Lingua-TypoGenerator-0.01/blib/script/.exists
src/Lingua-TypoGenerator-0.01/lib/Lingua/TypoGenerator.pm
src/Lingua-TypoGenerator-0.01/pm_to_blib
src/Lingua-TypoGenerator-0.01/t/1.t
src/Lingua-TypoGenerator-0.01/t/information.txt
src/Lingua-TypoGenerator-0.01/t/naivete.txt
src/Lingua-TypoGenerator-0.01/t/pod.t
src/Lingua-TypoGenerator-0.01/t/the.txt
.DS_Store
writeup/.DS_Store
writeup/figures/.DS_Store
src/*.pyc
